## This Notebook file have some common use cases for <font color='red'>filter(), map(), reduce()</font>  funtions in python

### Lets start with <font color='red'> filter()</font>
- Filtering applies a predicate, or Boolean-valued, function to an iterable and generates a new iterable containing the items that satisfy the Boolean condition.

### UseCase01 : Say you have a list of weights of people, certaintly there cannot be people with 0 or negative weights. You can filter using <font color='red'> filter()</font>

In [37]:
weight_list = [30,35.7,80,-10,0.0,20,45,75]

In [40]:
filter_weight_itertaor = filter(lambda x : x >= 0, weight_list)

In [41]:
filter_weight_list = list(filter_weight_itertaor)
filter_weight_list

[30, 35.7, 80, 0.0, 20, 45, 75]

## UseCase02 : Say you have a list with name and some items are empty, you can filter using <font color='red'> filter()</font>

In [43]:
myname_list = ["John","Patty","","Harish","Tim","","Hua"]

In [46]:
filter_name_itertaor = filter(None, myname_list)

In [47]:
filter_name_list = list(filter_name_itertaor)
filter_name_list

['John', 'Patty', 'Harish', 'Tim', 'Hua']

## UseCase03 : Using UDF(User defined function with <font color='red'> filter()</font>

In [49]:
def my_even(mynum):
    if mynum % 2 ==0:
        return mynum
    else:
        return ""

In [50]:
my_numlist = [1,3,4,5,66,65,78,2345,678]

In [55]:
filter_evenlist_itertaor = filter(my_even, my_numlist)

In [56]:
filter_evenlist = list(filter_evenlist_itertaor)
filter_evenlist

[4, 66, 78, 678]

## UseCase04 : Remove outlier using filters <font color='red'> filter()</font>

In [57]:
import statistics as st
data = [10,8,45,5,6,6,10,34,56]

In [64]:
my_mean = st.mean(data)
my_std_dev= st.stdev(data)
print("Mean :{}, Std dev: {}".format(my_mean, my_std_dev))

Mean :20, Std dev: 19.615045245933032

In [65]:
outlier_low = my_mean - 2* my_std_dev
outlier_high = my_mean + 2* my_std_dev

In [68]:
iterator_without_outlier = filter(lambda x :  outlier_low <=x <= outlier_high, data)

### Lets start with <font color='red'> map()</font>
- <font color='red'> Mapping</font> applies a transformation function to an iterable and produces a new iterable of transformed items.

### UseCase02: Filter specific values from a list(based on some conditions)
- Example my_list = [10,-20,30,40,100,0,-20,-1] Remove all the values which are =< 0

In [6]:
my_list = [10,-20,30,40,100,0,-20,-1]

In [13]:
#using for loop
for idx,x in enumerate(my_list):
    if (x <= 0):
        my_list.pop(idx)
my_list

[10, 30, 40, 100, -20]

In [14]:
my_list = [10,-20,30,40,100,0,-20,-1]
# using list comprehension with condition 
my_new_list = [x for x in my_list if x > 0]
my_new_list

[10, 30, 40, 100]

### UseCase03: Concatenate 2 lists 
- firstname = ["Jon", "Mary", "Mike", "Tom"]
- lastname = ["Li","Right","Hua","Stafford"]
- Generate a new list like ["Jon Li", "Mary Right", "Mike Hua", "Tom Stafford"]

In [15]:
firstname = ["Jon", "Mary", "Mike", "Tom"]
lastname = ["Li","Right","Hua","Stafford"]

In [27]:
# using for loop
fullname = []
for idx,fname in enumerate(firstname):
    fullname.append(fname+" "+lastname[idx])
fullname

['Jon Li', 'Mary Right', 'Mike Hua', 'Tom Stafford']

In [22]:
# using list comprehension

In [26]:
my_fullname = [ " ".join(x) for x in zip(firstname,lastname)]
my_fullname

['Jon Li', 'Mary Right', 'Mike Hua', 'Tom Stafford']